In [8]:
import pandas as pd

In [9]:
birds_dataset_excel = pd.read_excel('assets/DCPP_Group_Assignment/Birds_Dataset.xlsx',index_col='Serial No')
# birds_dataset_excel.head(2)

In [10]:
birds_dataset_excel['Bird Names'] = birds_dataset_excel['Common Name']

In [11]:

for i in range(1,birds_dataset_excel.shape[0]) :
    birds_dataset_excel.loc[i].at['Common Name'] = birds_dataset_excel.loc[i].at['Common Name'].replace("'","")
    birds_dataset_excel.loc[i].at['Common Name'] = birds_dataset_excel.loc[i].at['Common Name'].replace("ʻ","")
    birds_dataset_excel.loc[i].at['Common Name'] = birds_dataset_excel.loc[i].at['Common Name'].replace("`","")
    birds_dataset_excel.loc[i].at['Common Name'] = birds_dataset_excel.loc[i].at['Common Name'].replace("-","")
# birds_dataset_excel.tail(3)

In [16]:
birds_csv = pd.read_csv('assets/birds.csv',index_col='ID')
birds_csv['Bird Names'] = birds_csv['Common Bird Names']
for i in range(1,birds_csv.shape[0]) :
    birds_csv.loc[i].at['Common Bird Names'] = birds_csv.loc[i].at['Common Bird Names'].replace("'","")
    birds_csv.loc[i].at['Common Bird Names'] = birds_csv.loc[i].at['Common Bird Names'].replace("ʻ","")
    birds_csv.loc[i].at['Common Bird Names'] = birds_csv.loc[i].at['Common Bird Names'].replace("`","")
    birds_csv.loc[i].at['Common Bird Names'] = birds_csv.loc[i].at['Common Bird Names'].replace("-","")
birds_csv.rename(columns={'Common Bird Names':'Common Name'},inplace=True)

            Common Name         Bird Names
ID
2346  Chinese francolin  Chinese francolin
2347   Chinese fulvetta   Chinese fulvetta

In [17]:
birds_csv[2240:2250]

                        Common Name                      Bird Names
ID
2241          Chestnutbreasted wren          Chestnut-breasted wren
2242         Chestnutcapped babbler         Chestnut-capped babbler
2243       Chestnutcapped blackbird       Chestnut-capped blackbird
2244      Chestnutcapped brushfinch      Chestnut-capped brushfinch
2245      Chestnutcapped flycatcher      Chestnut-capped flycatcher
2246  Chestnutcapped laughingthrush  Chestnut-capped laughingthrush
2247            Chestnutcapped piha            Chestnut-capped piha
2248        Chestnutcapped puffbird        Chestnut-capped puffbird
2249          Chestnutcapped thrush          Chestnut-capped thrush
2250       Chestnutcheeked starling       Chestnut-cheeked starling

In [18]:
new_birds_csv = pd.merge(birds_csv,birds_dataset_excel,how='outer',on=['Common Name'],sort=True)
new_birds_csv.shape

(11189, 19)

In [20]:
new_birds_csv.head(4)

,Common Name,Bird Names_x,Conservation status,Kingdom,Phylum,Class,Order,Family,Genus,Species,Binomial Name,Description,Categories,References,Wiki URL,Image,Country,Habitat,Bird Names_y
0,Abbotts babbler,Abbott's babbler,Least Concern,Animalia,Chordata,Aves,Passeriformes,Pellorneidae,Malacocincla,M. abbotti,"Malacocincla abbottiBlyth, 1845",Abbott's babbler (Malacocincla abbotti) is a s...,"Articles with species microformats, Articles w...",http://ibc.lynxeds.com/species/abbotts-babbler...,https://en.wikipedia.org/wiki/Abbott%27s_babbler,https://upload.wikimedia.org/wikipedia/commons...,NaN,forest,Abbotts babbler
1,Abbotts booby,Abbott's booby,Endangered,Animalia,Chordata,Aves,Suliformes,Sulidae,"PapasulaOlson & Warheit, 1988",P. abbotti,"Papasula abbotti(Ridgway, 1893)",Abbott's booby (Papasula abbotti) is an endang...,"Articles with species microformats, Articles w...",http://www.environment.gov.au/biodiversity/thr...,https://en.wikipedia.org/wiki/Abbott%27s_booby,https://upload.wikimedia.org/wikipedia/commons...,Christmas Island,forest,Abbotts booby
2,Abbotts starling,Abbott's starling,Vulnerable,Animalia,Chordata,Aves,Passeriformes,Sturnidae,Poeoptera,P. femoralis,"Poeoptera femoralis(Richmond, 1897)",The Abbott's starling (Poeoptera femoralis) is...,"All stub articles, Articles with species micro...",http://datazone.birdlife.org/species/factsheet...,https://en.wikipedia.org/wiki/Abbott%27s_starling,https://upload.wikimedia.org/wikipedia/commons...,Kenya,forest,Abbotts starling
3,Abbotts sunbird,Abbott's sunbird,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
dropped = new_birds_csv.dropna(thresh=5)
dropped.shape

(6867, 19)

In [39]:
# unq = dropped.subtract(new_birds_csv,axis=0)
# unq.shape

In [40]:

final_df = new_birds_csv[~new_birds_csv.Genus.isin(dropped.Genus)]
final_df.head(5)

,Common Name,Bird Names_x,Conservation status,Kingdom,Phylum,Class,Order,Family,Genus,Species,Binomial Name,Description,Categories,References,Wiki URL,Image,Country,Habitat,Bird Names_y
3,Abbotts sunbird,Abbott's sunbird,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Aberdare cisticola,Aberdare cisticola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Abyssinian catbird,Abyssinian catbird,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Abyssinian owl,Abyssinian owl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Abyssinian waxbill,Abyssinian waxbill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
final_df.drop('Common Name', axis=1, inplace=True)
final_df.rename(columns={'Bird Names_x':'Common Name'},inplace=True)
final_df.reset_index(inplace=True)
final_df.set_index('Common Name')

C:\Users\LEGION\AppData\Local\Temp\ipykernel_12396\1817970369.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop('Common Name', axis=1, inplace=True)
C:\Users\LEGION\AppData\Local\Temp\ipykernel_12396\1817970369.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.rename(columns={'Bird Names_x':'Common Name'},inplace=True)

,index,Conservation status,Kingdom,Phylum,Class,Order,Family,Genus,Species,Binomial Name,Description,Categories,References,Wiki URL,Image,Country,Habitat,Bird Names_y
Common Name,,,,,,,,,,,,,,,,,,
Abbott's sunbird,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aberdare cisticola,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abyssinian catbird,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abyssinian owl,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abyssinian waxbill,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zappey's flycatcher,11166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zenker's honeyguide,11172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
brown-headed parrot,11183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
yellow-fronted parrot,11184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ʻŌʻū,11188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
final_df.to_csv('assets/wiki_list_to_comp.csv',columns=['Common Name'],index=False)